# Name:
# Author: 
# Version: 1.0
# Date: 2021/12/06
# Requires: ImageJ 1.42q
# Generate the jar file using: "jar cvfM jar_demo.jar *"
#
# Questo file assicura che ImageJ ci mostri i file, contenuti nel file jar, nel meu plugins
#



Plugins>FlatPanel, "-> Completo <-", PluginFlatPanel.Tutti
Plugins>FlatPanel, "-----------------", PluginFlatPanel.cacca
Plugins>FlatPanel, "1 Funzione conversione", PluginFlatPanel.FunzioneConversione
Plugins>FlatPanel, "2 Correnti di buio", PluginFlatPanel.CorrentiDiBuio
Plugins>FlatPanel, "3 Bad Pixel", PluginFlatPanel.BadPixel_NUOVO
Plugins>FlatPanel, "4 DrRaw - immagini uniformi", PluginFlatPanel.DrRaw_NUOVISSIMO
Plugins>FlatPanel, "5 Risoluzione spaziale", PluginFlatPanel.RisoluzioneSpaziale
Plugins>FlatPanel, "6 Basso Contrasto", PluginFlatPanel.BassoContrasto
Plugins>FlatPanel, "7 Accuratezza distanze", PluginFlatPanel.AccuratezzaDistanzee
Plugins>FlatPanel, "8 Immagini latenti", PluginFlatPanel.ImmaginiLatenti